{% extends 'layout.html' %}
{% block title %}
    <title>delete laptop </title>
{% endblock %}


{% block content %}

    <div class = 'container'>
        <form method ='post' class="jumbotron">
            <h2 style="color:red">DELETE</h2>
            <p>are you sure to delete laptop which details like company name is{{laptop.company}}</p>
        {% csrf_token %}
         <a href ="{% url 'delete_laptop' laptop.id %}" ><button class ='btn btn_danger'>DELETE</button></a> &nbsp;&nbsp;
           <a href ="{% url 'show_laptop' %}" ><button class ='btn btn_primary'>CANCEL</button></a>
        </form>
        <br>
    </div>
{% endblock %}


</html>